* {
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #FFFFFF;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("logo.png");
    background-size: cover;
    height: 68px;
    width: 200px;
}

.bar {
    display:flex;
    justify-content: space-between;
    padding: 19px 7px 19px 7px;
    gap: 56px;
}
