*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin: Auto;
    padding-top: 15px;
    border-bottom: 1px solid #E7E7E7;
}

.logo {
    width: 147px;
    height: 52px;
}

nav ul {
    display: flex;
    align-items: center;
}    

nav ul li {
    margin: 0 20px;
    color: #6E6E6E;

}

nav button {
    padding: 12px 24px 12px 24px;
    border: none;
    background: linear-gradient(219.84deg, #224A7D 4.14%, #0C1B2E 44.22%);
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 78px;
}

.hero {
    background: linear-gradient(219.84deg, #224A7D 4.14%, #0C1B2E 44.22%);
    color: #FFFFFF;
    width: 1521px;
    height: 810px;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}

/*.title {
    font-size: 43px;
    font-weight: 900;
}

.hero .text {
    padding: 12px 0px 16px;
}

.hero-image{
 width: 400px;
 rotate: -180deg;
}

.searchbar {
    display: flex;
    padding: 0px 0px 100px 70px;
}*/